html {
    background-color: black;
    font-family: Arial;
    font-weight: 600;
    color: #59ed9c;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    text-align: center;
}

#newestvideo {
  margin-top: 20px;
  color: #FFFFFF;
}

#noblog {
  position: fixed;
  bottom: 0;
  width: 100%;
}
}
